body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#ffd6e8, #ffeef7, #ffd6e8);
    overflow-x: hidden;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

/* tampilan judul */
.judul {
    margin-top: 40px;
    color: #d63384;
    font-size: 22px;
}

/* Gambar bunga sakura */
.sakura {
    position: absolute;
    top: -50px;
    width: 30px;
    height: 30px;
    pointer-events: none;
    animation: fall 7s linear forwards;
    z-index: 9999;
}

@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(120vh) rotate(360deg);
        opacity: 0;
    }
}
