body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #fde2e4, #fad2e1, #e9e2ff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;

    /* animasi melayang */
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0px); }
}

h1, p {
    color: #444;
}
