/* Sakura falling animation */
.sakura {
    position: fixed;
    top: -10px;
    width: 15px;
    height: 15px;
    background-image: url('https://i.imgur.com/9E3V7iV.png');
    background-size: cover;
    opacity: 0.8;
    pointer-events: none;
    animation: fall 7s linear infinite;
}

@keyframes fall {
    0% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateX(100px) translateY(100vh) rotate(360deg);
        opacity: 0.6;
    }
}
